<head>
	<link rel="stylesheet" href="app.scss" type="text/css" />
</head>
<body>
    
    
    
    
    
    
    
    <h1>face detect</h1>
    <div>
        <div class="search-box">
            <input type="text" id="url" name="URL..."/>
            <button type="submit" id="sb-btn">Submit</button>
        </div>
        <div class="img-container">
            <img id="inputImage" src=""></img>
        </div>
    </div>

<!-- javascript and other dependencies....-->
<script type="text/javascript" src="https://sdk.clarifai.com/js/clarifai-latest.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
